@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1551267758164'); /* IE9 */
  src: url('iconfont.eot?t=1551267758164#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABqAAAAKQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBLIEvATYCJAMICwYABCAFhG0HMBvVBcgehXHD3ZwZSjNfxL3jAdpf9Ob/2fURbkQiXKUIhnLXzxFsl3drrnLEwsYeoDwFD6jQFrN7W0onTR+k/eI09on7qUuggeQDmmMXRSV/2g1w3DrAqKIW3lCGvmF6+QIHYjMBRU11Fkbfv35AX6R7BYQVzgbQL7hEkUXzgmzDxCickZFPjiZvcTr6fvitZ8iTyKR03sRFdzGcvjVx6Z7KHnMDEjcBmp5Bis6IhKmNofFaAmOkiqG2lhwrO/BtpRIYhaP+eUKWziyDxpD/TAInfNTMBETY2B/DJr2TWL1crr69e/VVqdrxNyG393XbqjdeTitdZM+weKxuuLz1xr1w/X6743frX7kzo3zsUsjsvVyvysWL4IA9F8pTBjULNRokDWs0rNmgxplkT41/hWtnChH8lmuFQsxnzg8b/l+n+uZGnXvR5idbLhfuFeb27+25vOZ5fu7gueEAlefp8NYYaCCwtdZ8mzcb/D9fiuC9K48iR+V5NMwC8ucyB/6ZYGBBFCKtSi7OR+ZE/1ySBEVhVaFtNX2dqq5zg7Egr85tWnKaZEjltSZHemdklPRGVt4wFHUybnpJLeu0hFhARwcBguoeI1HVG6Sqe0eO9C/IqOsvsqqHFEXTQ60FS9qGpcNRQoFSjOEfuogLY006jLPfyNZZIHlRxPwiqZwX9127l6MPVJAsMaT6tgdVg0Y4x3uwHWUZYymcUKSbq2p53HZb1HSjTcQ5DI0iSECRGJrnD1oqwgomKK2Glc+/IVYtE5AOQs77hYiKax710FX3AeQHeTGI8CjXrPfNOthAGWgRwXJoLGhHMhmG1jS3S5CI2lgyIVA66maKLRoq32yvzP9uGRRpTRJMq1R2/ZXrxAEA') format('woff2'),
  url('iconfont.woff?t=1551267758164') format('woff'),
  url('iconfont.ttf?t=1551267758164') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1551267758164#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e6c6";
}

